@font-face {
  font-family: "Product Sans";
   src: url("../fonts/ProductSans.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Bold";
   src: url("../fonts/ProductSansBold.ttf") format("truetype");
}

body{
  font-family: "Product Sans";
  background-color:#ffffff;
}
p{
margin:10px 5px 5px;
padding-top:10px;
}

/* Title */
.title{
  text-align: center;
  font-size: 100px;
  font-weight: 800px;
  font-family: "Product Sans Bold";
  padding-top:150px;
}
.Red-Font{
color:#eb4132;
}
.Blue-Font{
color:#4086f4;
}
.Green-Font{
color:#31a952;
}
.Yellow-Font{
color:#fbbd01;
}

/* Buttons */
.gif-btn{
  margin:5px;
  font-size: 18px;
  font-weight: 700; 
  width:auto;
  border-radius: 20px;
}
.gif-btn:hover{
 border-color:#4d90fe;
 color:#eaeaea;
}

/* Add Buttons Bar */
.addBar{
padding-bottom:40px;
}
.input-text{
   margin:5px;
   font-weight: 700;
}
input,.DownloadButton,.FavoriteButton,#show-favs,.delFav{
  border: none;
  padding: 10px;
  margin: 10px;
  height: 35px;
  width:30%;
  border:1px solid #eaeaea;
  border-radius:20px;
  outline:none;
  font-family: "Product Sans Bold";
}
input:hover{
  box-shadow: 0px 5px 15px  rgba(204, 204, 204, .75);
}
input:focus,#add-gif:hover,#add-more-gif:hover,#topBtn:hover{
  border-color:#4d90fe;
}
input[type="submit"],.DownloadButton,.FavoriteButton,#show-favs,.delFav {
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  cursor: default;
  font-size: 18px;
  font-weight: bold;
  width: 160px;
  padding: 0 16px;
  height:36px;

}
input[type="submit"]:hover,.DownloadButton:hover,.FavoriteButton:hover,#show-favs:hover,.delFav:hover {
  background: #f2f2f2;
  border: 1px solid #ffffff;
  color: #222;
}
.DownloadButton,.FavoriteButton,#show-favs,.delFav{
  border-radius: 10px;
}
.DownloadButton:hover,.FavoriteButton:hover,#show-favs:hover,.delFav:hover{
  text-decoration-line: none; 
}

.FavoriteButton{
  width:50px;
  height:24px;
}

.delFav:hover{
  background-color: #eb4132;
}

.FavoriteButton:hover,#show-favs:hover{
  background-color: #fbbd01;
}

/* Gifs */
.gif-container{
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom:20px;

}
.Red:hover{
  background-color:#eb4132;
}
.Blue:hover{
  background-color:#4086f4;
}
.Yellow:hover{
  background-color:#fbbd01;
}
.Green:hover{
  background-color:#31a952;
}
.title-Gif{
 font-size: 20px;
}
.gif{
  border-radius: 10px;
  width:90%;
  height:10rem;
}
.gif:hover{
cursor: pointer;

}
.rating{
  margin:0px;
}
.gif-container:hover{
  color: #eaeaea;
}

/* Window */
.content{
  min-height : calc(100vh - 60px);
}
.footer {
  height: 20px;
}

/* Media Query */
@media only screen and (max-width: 580px) {
  .title{
    font-size: 40px;
    padding-top:20px;
  }
  
  .addBar{
    padding-bottom:20px;
  }
  
  .gif{
    height:15rem;
  }
}
