/* Title */
.title{
  text-align: center;
}

/* Buttons */
.gif-btn{
  margin:5px;
  font-weight: 700; 
}

/* Add Buttons Bar */
.input-text{
   margin:5px;
   font-weight: 700;
}
#add-gif{
   margin:5px;
   font-weight: 700;
}


/* Gifs */
.gif-container{
  border : 2px solid black;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom:20px;
}

.gif{
  margin-top:15px;
  border-radius: 10px;
  width:90%;
  height:10rem;
}
.rating{
  margin:0px;
}